.calculator{
  background-color: grey;
  padding: 5px;
  display: inline-block;
}

textarea {
  resize: none;
  margin: 10px;
  width: 100%;
}

.calc-input-output {
  height: 50px;
  background-color: white;
  box-sizing: content-box;
  margin: 5px 2px 5px 2px;
  text-align: right;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons .button-row:first-child {
  margin-left: auto;
}

.buttons .button-row:nth-last-child(2) {
  margin-left: auto;
}

.button-row {
  display: flex;
  flex-direction: column;
}

button {
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border: 0px;
  margin: 2px;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Open Sans;
}